/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 24, 2018, 5:09:57 PM
    Author     : Algow
*/
.welcomebody {
    background-image: url("bg_sinc.jpg");
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}